#footer {
    grid-area: footer;
    display: flex;
    padding: 100px 0;
    text-align: center;
    justify-content: space-around;
    background-color: #202329;
    color: white;
}

.footer-contact-section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
}

.references-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    text-align: start;
}