#main-home {
    grid-area: main;
    width: 100%;   
}

.title-section {
    position: relative;
    padding: 150px 0px;
    background-image: url('https://wallpapercat.com/w/full/1/f/5/46701-3840x2160-desktop-4k-rick-and-morty-background-image.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.title-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.first-title {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 55%;
    font-size: 42px;
    text-align: center;
    color: white;
}

.page-general-information-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & :first-child {
        width: 70vh;
        font-size: 28px;
        line-height: 2;
    }

    & p {
        word-wrap: break-word;
    }

    & :last-child {
        padding: 1em;
    }
   
}

.highlight-blue {
    color: rgb(52, 179, 247);
}

.highlight-green {
    color: rgb(63, 208, 63);
}

#ilustration-image {
    width: 70vh;
}

.how-it-works-section {
    display: block;
    justify-content: center;
    background-color: rgb(86, 86, 86);
    color: white;

    & h2 {
        font-weight: bold;
        font-size: 28px;
        margin: auto;
        text-align: center;
        padding: 2em 0;
        color: #97f86a;
    }

    & p {
        margin: auto;
        width: 75%;
        padding-bottom: 3em;
        font-size: 22px;
        line-height: 2;
    }

    & ul {
        padding: 0%;
        margin: auto;
        background-color: rgb(48, 48, 48);
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

}

.listed-information-li {
    list-style: none;
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 1em 0px;
    gap: 1em;
    justify-content: center;
    
    & div {
        width: 30%;
        align-content: center;
    }
    & p {
        margin: auto;
        align-content: center;
        width: 90%;
        padding: 16px;
    }
}

.random-character-card {
    width: auto;
    border-radius: 20px;
    display: flex;
    gap: 1em;
    align-items: center;
    background-color: rgb(52, 179, 247);


    & h3 {
        color: black;
    }

    & img {
        border-radius: 20px;
        width: 100%;
        height: auto;
    }

    & div {
        padding: 0px 2em;
    }

    & div p{
        width: auto;
    }
    & p {
        padding: 0px;
    }
}

@media screen and (max-width: 540px) {
    .page-general-information-section {
        & :first-child {
            width: 90%;
            font-size: 22px;
            line-height: 2;
        }
    
        & p {
            word-wrap: break-word;
            padding: 10px;
        }
        & :nth-child(2) {
            & img {
                width: 80%;
            }
        }
    }

    #ilustration-image {
        width: 80%;
        margin: auto;
    }
    
    .random-character-card {
        flex-direction: column;
        padding: 10px;

        & div {
            padding: 10px;
        }
    }
}

@media screen and (max-width: 770px) {
    .listed-information-li {
        & div {
            width: 100%;
            align-content: center;
        }
    }

}