#main-character {
    width: 100%;
    grid-area: main;
    
    & ul {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(
            auto-fit,
            minmax(500px, 0.6fr)
        );
        justify-content: center;
        background-color: #272b33;
    }
    
}

.single-character {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    background-color: #3c3e44;
    border-radius: 16px;
    color: white;
    font-size: 18px;
    box-shadow: 5px 10px black;

    & img {
        border-radius: 10px;
    }

    & div {
        margin: auto;
        width: 40%;
        padding: 1em;
        align-content: center;
    }
    & h3 {
        margin: 0px;
        font-size: 1.5em;
        color: #8bd3fa;
    }
    & b {
        color: #34b3f7;
    }

    & p {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

}

@media screen and (max-width: 600px) {
    #main-character ul {
        grid-template-columns: 300px;
    }

    .single-character {
        display: flex;
        flex-direction: column;
        height: auto;
        & div {
            margin: auto;
            width: 80%;
            padding: 1em;
            align-content: center;
        }
    }

}