* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-areas: 
      "header header "
      "sidebar sidebar"
      "main main"
      "footer footer"
  ;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #9cee69;
}

.pagination-section {
  background-color: #272b33;
  display: flex;
  justify-content: center;
  padding: 2em;
  gap: 2em;
  grid-column:  1 / -1;
  & button {
      font-size: 18px;
      font-weight: bold;
      padding: 1em;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      transition:  .2s ease-in-out;
  }

  & .enabledButton:hover {
      color: white;
      background-color: #335e26;
      scale: 1.1;
  }

  & .disabledButton {
      background-color: #5e2626;
      color: #f1a3a3;
      cursor: not-allowed;
  }
  & .disabledButton:hover {
      color: white;
      background-color: #381616;
  }
}
